extends layout

block head

block content
	.page#taggest
		h1 Taggest on helpoin tapa mainostaa kaupunkiympäristössä
		.block
			ul.threeBox
				li.threeBoxItem
					img(src="http://placehold.it/150x150/AFDCCC")
					p Selaa kartalta mainosnäyttöjä tilan tyypin mukaan.
				li.threeBoxItem
					img(src="http://placehold.it/150x150/AFDCCC")
					p Lähetä mainosaineisto
				li.threeBoxItem
					img(src="http://placehold.it/150x150/AFDCCC")
					p Maksa haluamasi mainosaika
			p Mainoksesi ilmestyy näyttöihin halutessasi jopa heti!
	.page#adwall
		h1 Ota liiketilassasi käyttöön Taggest -mainosnäyttö.
		.block
			p Hyväksy kampanjoita helposti älypuhelimellasi tai webistä - alat tienaamaan mainosrahaa heti.
			p Voit myös laittaa yrityksesi kotisivuille linkin, josta pääsee suoraan lähettämään mainoksia sinun tai yrityksesi näyttöihin.
			p Voit tilata näyttölaitteen meiltä tai käyttää omaa laitteistoasi - Taggest toimii lähes millä tahansa laitteella, jossa on näyttö ja Internet-yhteys.
	.page#contact
		h1 Tilaa mainosnäyttö heti!
		.block
			p Näyttöjen hinnat alkaen 300€ - sis. toimituksen, asennuksen ja vahvistamisen varmasti toimivaksi näytöksi palvelussamme.
			p Saat 70% näyttösi mainostuloista - eikä sinun tarvitse tehdä muuta kuin pitää mainosnäyttö käynnissä ja odottaa.
			p Avaamme karttapalvelun tämän vuoden (2014) Elo-Syyskuussa. Tilaa siihen mennessä tiloihisi näyttö ja laita linkki kotisivuillesi, jotta yritykset pääsevät myös sivujesi kautta mainostamaan tiloissasi. Voit myös pyörittää näytöissäsi omia mainoksiasi ilmaiseksi. Jo ennen karttapalvelumme avaamista toimitamme näyttöihisi mainoksia yhteistyökumppaneiltamme.
