extends layout

block head

block content
	.page#taggest
		h1 Hello, World!
		.block
			p We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that.
			p Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360.
			p We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that.
			p Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360.We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360.
	.page#adwall
		h1 Adwall
		.block
			p Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360.
			p We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that.
	.page#contact
		h1 Contact
		.block
			p Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360.
			p We might have things here, lots of things. Words, phrases, stuff like that. Skate ipsum kickflip mctwist indie ollie noseblunt, pop-shovit 360. We might have things here, lots of things. Words, phrases, stuff like that.